*{
  box-sizing: border-box;
  margin:0;
  padding:0;

}

body{
  font-family: Oxygen, sans-serif;    
}

/** HEADER **/
#header-nav {
  background-color: #D3D3D3;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  color: #00008B;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/*MAIN CONTENT*/
.category-tile { 
  position: relative;
  background-color: grey;
  border: 1px solid #3F0C1F;
  width: 100%;
  min-height: 200px;
  padding: 20px 5px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#our-menu + div {
  margin-bottom: 50px;
}

.back {
  color: black;
  font-weight: bold;
}
/*END MAIN CONTENT*/