body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
  background-color: darkgrey;
  border-radius: 0;
  border: 0;
  color: darkslateblue;
}

.navbar-brand p {
  color: darkslateblue;
  font-size: 1.5em;
}

.navbar-brand a:focus, .navbar-brand a:hover {
  text-decoration: none;
}

#nav-list a {
  color: darkslateblue;
  text-align: center;
}

#nav-list a:hover {
  background-color: grey;
}
/* END HEADER */

/* Main Content */
#our-menu {
  margin-bottom: 30px;
  color: darkslateblue  ;
}

.row {
  position: relative;
  float: left;
}

.row > div > article {
  background-color: darkgrey;
  text-align: left;
  margin-bottom: 20px;
  padding: 12px;
  color: black;
}
/* End Main Content */


@media (max-width: 767px) {
  .row > div > article {
    width: 80%;
    margin: 20px auto 0;
  }
}
